.noir{
    padding-top: 8.3333333333%;
    background-color: black;
    border: 1px solid white;
}
.orange{
    padding-top: 8.3333333333%;
    background-color: orange;
    border: 1px solid white;
}
.yellow{
    padding-top: 8.3333333333%;
    background-color: yellow;
    border: 1px solid white;
}